.sx_rem(@name, @px){
  @{name}: @px / 75 * 1rem !important;
}
.sx_font_size(@name, @px){
  @{name}: round(@px * 1) * 1px;
  [data-dpr="2"] & {
    @{name}: @px * 1px;
  }
  // for mx3
  [data-dpr="2.5"] & {
    @{name}: round(@px * 2.5 / 2) * 1px;
  }
  // for 小米note
  [data-dpr="2.75"] & {
    @{name}: round(@px * 2.75 / 2) * 1px;
  }
  [data-dpr="3"] & {
    @{name}: round(@px * 3 / 2) * 1px
  }
  [data-dpr="3.5"] & {
    @{name}: round(@px * 3.5 / 2) * 1px
  }
  // for 三星note4
  [data-dpr="4"] & {
    @{name}: @px * 2px;
  }
}
*{
  padding: 0;
  margin: 0;
}
html,body{
  width: 100%;
  height: 100%;
  .sx_font_size(font-size, 24);
}
li{
  list-style:none;
}
body{
  background: url(../img/bg_1-min.jpg);
  background-size: 100% auto;
  position: relative;
  header{
    z-index: 9999;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    background: #FFD0C1;
    top: 0;
    color: #E0582F;
    overflow:hidden;
    .sx_rem(height, 60);
    .sx_rem(padding-left, 30);
    .sx_rem(padding-right, 30);
    .sx_font_size(font-size, 30);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    .winners_title{
      box-sizing: border-box;
      .sx_rem(padding-right, 10);
      .sx_rem(width, 170)
    }
    .list{
      overflow:hidden;
      width: 0;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      #list_of_winners{
        width: 100%;
        .sx_rem(height, 60);
        ul{
          width: 3000%;
          height: 100%;
          li{
            float:left;
            text-align: center;
            height: 100%;
            .sx_rem(line-height, 60);
            display:inline;
            .sx_font_size(font-size, 30);
            color: #E0582F;
          }
        }
      }
    }
  }
  .title{
    position: absolute;
    margin: auto;
    .sx_rem(top, 100);
    left: 0;
    right: 0;
    .sx_rem(width, 600);
    img{
      width: 100%;
    }
  }
  .turntable_bg{
    position: absolute;
    margin: auto;
    .sx_rem(top, 350);
    left: 0;
    right: 0;
    .sx_rem(width, 700);
    img{
      width: 100%;
    }
  }
  .turntable{
    position: absolute;
    margin: auto;
    .sx_rem(top, 350);
    left: 0;
    right: 0;
    .sx_rem(width, 700);
    img{
      width: 100%;
    }
  }
  .turntable_inside{
    position: absolute;
    margin: auto;
    .sx_rem(top, 423);
    left: 0;
    right: 0;
    .sx_rem(width, 550);
    img{
      width: 100%;
    }
  }
  .pointer{
    position: absolute;
    margin: auto;
    .sx_rem(top, 570);
    left: 0;
    right: 0;
    .sx_rem(width, 182);
    img{
      width: 100%;
    }
  }
  .rule{
    position: absolute;
    margin: auto;
    .sx_rem(top, 1110);
    width: 100%;
    img{
      width: 100%;
    }
  }
  .rule_bg{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    .sx_rem(top, 1210);
    box-sizing: border-box;
    .sx_rem(width, 600);
    .sx_rem(padding, 25);
    background: #FFFAE2;
    .sx_rem(-moz-border-radius, 18);
    .sx_rem(-webkit-border-radius, 18);
    .sx_rem(border-radius, 18);
    .sx_font_size(font-size, 26);
    color: #666;
    .rule_bg_title{
      .sx_rem(height, 60);
      .sx_font_size(font-size, 32);
      color: #fff;
      background: url("../img/rules_box-min.png") no-repeat;
      background-size: auto 100%;
      .sx_rem(line-height, 60);
      .sx_rem(text-indent, 35);
      .sx_rem(margin-bottom, 25);
    }
    p{
      .sx_rem(line-height, 40);
    }
  }
  #logIn{
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    .logIn_wrap{
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      .logIn_body{
        .sx_rem(width, 600);
        .sx_rem(height, 600);
        background: #fff;
        .sx_rem(-moz-border-radius, 18);
        .sx_rem(-webkit-border-radius, 18);
        .sx_rem(border-radius, 18);
        -webkit-box-shadow: 40px 40px 25px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
        -moz-box-shadow: 40px 40px 25px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
        box-shadow: 40px 40px 25px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
        -o-box-shadow: 40px 40px 25px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
        .top{
          width: 100%;
          .sx_rem(height, 100);
          background: url("../img/personal_information_top_bg-min.png") no-repeat;
          background-size: 100% auto;
          .sx_font_size(font-size, 34);
          color: #fff;
          .sx_rem(line-height, 100);
          text-align: center;
          font-weight: 600;
          position: relative;
          img{
            position: absolute;
            .sx_rem(top, 10);
            .sx_rem(right, 10);
            .sx_rem(width, 55);
          }
        }
        .logIn_from{
          width: 100%;
          .sx_rem(height, 500);
          box-sizing: border-box;
          .sx_rem(padding-top, 30);
          .sx_rem(padding-bottom, 30);
          .sx_rem(padding-left, 50);
          .sx_rem(padding-right, 50);
          li{
            width: 100%;
            .sx_rem(height, 70);
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            .sx_rem(margin-bottom, 45);
            .input_label{
              .sx_rem(width, 100);
              .sx_rem(line-height, 70);
              .sx_font_size(font-size, 30);
              color: #666;
            }
            .input{
              height: 100%;
              -webkit-box-flex: 1;
              -ms-flex: 1;
              -webkit-flex: 1;
              flex: 1;
              border: 1px solid #666;
              input{
                border: none;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                .sx_rem(padding-left, 15);
                .sx_rem(padding-right, 15);
                color: #666;
              }
            }
          }
          .logIn_buttom{
            .sx_rem(width, 400);
            .sx_rem(height, 95);
            margin: 0 auto;
            img{
              width: 100%;
            }
          }
        }
      }
    }
  }
  #cjMsg{
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    .cjMsg_wrap{
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      img{
        .sx_rem(width, 680);
      }
    }
  }
}
